<app-nav></app-nav>
<div >
    <h1 class="text-center my-5">The Cripton Story</h1>
    <p class="text-center my-3" >Our Journey</p>
    <div class="row container mx-auto">
        <div class="col-6">Use this paragraph to describe what you do. This is a great place to let your visitors know who you are. Add useful information that your users may find interesting. What makes you stand out? Why you do what you do? What is your passion? Here is where you let it flow. Now is when you let them know. 
            Zoho Sites, your site, your story. Click here to add your story.</div>
        <div class="col-6">Use this paragraph to describe what you do. This is a great place to let your visitors know who you are. Add useful information that your users may find interesting. What makes you stand out? Why you do what you do? What is your passion? Here is where you let it flow. Now is when you let them know. 
            Zoho Sites, your site, your story. Click here to add your story.</div>
    </div>
    <div>
        <img src="../../assets/a1.jpg" class="mx-auto my-4" alt="">
    </div>
    <div style="background:linear-gradient(to bottom, rgba(31, 31, 31, 0.73), rgba(31, 31, 31, 0.73)), url(../../assets/a3.jpg);height: 80vh;">
<div class="row container mx-auto p-5">
    <div class="col-5">
        <img src="../../assets/a2.jpg" alt="">
    </div>
    <div class="col-5 text-white">
        <p class="fs-3">OUR CHEF</p>
        
        <p class="fs-2">Johonson hill</p>
        <p class="fs-5">Invite your client or team to create and edit content. Set them as Admin, Publisher, or your client or team to create and edit content Simvoly has everything you need to start your
         Simvoly has everything you need to start your business online</p>
         <p class="fs-4"><b>Jonson hills </b>- owner and chief cook in cripton</p>
    </div>

</div>


    </div>


</div>

