<app-nav></app-nav>

<p class="d-flex justify-content-center my-5"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.7149344168943!2d79.45971987457918!3d11.13459555248602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a552ba528320e77%3A0xb5955ad796dbae9c!2sZoho%20Corporation%20Spoke%20office%2C%20Olugacheri!5e0!3m2!1sen!2sin!4v1704865455763!5m2!1sen!2sin" width="800" height="400" style="border:0;" allowfullscreen="" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
<div class="text-white p-5" style="background:linear-gradient(to bottom, rgba(31, 31, 31, 0.73), rgba(31, 31, 31, 0.73)), url(../../assets/a3.jpg);height: 80vh;color: white;">
<p class="fs-3 text-center ">GET IN TOUCH</p>
<p class="fs-1 text-center">Contact us for any enquiry.</p>
<div class="row container fs-4 mx-auto mt-5 " style="background-color: rgba(128, 128, 128, 0.5);">
    <div class="col-6">
        <p class="fs-3">Address</p>
        <p>Michael I. Days 3756 Preston Street Wichita, KS 67213 Phone:857-778-1265</p>
    </div>
    <div class="col-3">
        <p class="fs-3">Phone</p>
        <p>293-112-459</p>
        <p class="fs-3">Hours</p>
        <p>Open 24 Hours</p>
    </div>
    <div class="col-3">
        <p class="fs-3">Email</p>
        <p>crp&#64;gmail.com</p>
        <p>Support&#64;gmail.com</p>

    </div>
</div>
</div>
<!-- https://sitebuilder-60026346965.zohositescontent.in/zstore -->