<app-nav></app-nav>
<h1 class="text-center my-5">Birthday</h1>
<div class="row container mx-auto">
    <div class="col-3"><img src="../../assets/g1.jpg" class="m-0 p-0" alt=""></div>
    <div class="col-3"><img src="../../assets/g2.jpg" class="m-0 p-0" alt=""></div>
    <div class="col-3"><img src="../../assets/g3.jpg" class="m-0 p-0" alt=""></div>
    <div class="col-3"><img src="../../assets/g5.jpg" class="m-0 p-0" alt=""></div>
    <div class="col-12" class="m-1" style="background-image: url(../../assets/g6.jpg);height: 30vh;background-size: cover;"></div>
    
</div>

<app-add></app-add>
