<div class="text-white p-5" style="background:linear-gradient(to bottom, rgba(31, 31, 31, 0.73), rgba(31, 31, 31, 0.73)), url(../../assets/a3.jpg);height: 80vh;color: white;">
    <p class="fs-3 text-center ">GET IN TOUCH</p>
    <p class="fs-1 text-center">Contact us for any enquiry.</p>
    <div class="row container fs-4 mx-auto mt-5 " style=" background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-6">
            <p class="fs-3">Address</p>
            <p>Michael I. Days 3756 Preston Street Wichita, KS 67213 Phone:857-778-1265</p>
        </div>
        <div class="col-3">
            <p class="fs-3">Phone</p>
            <p>293-112-459</p>
            <p class="fs-3">Hours</p>
            <p>Open 24 Hours</p>
        </div>
        <div class="col-3">
            <p class="fs-3">Email</p>
            <p>crp&#64;gmail.com</p>
            <p>Support&#64;gmail.com</p>
    
        </div>
    </div>
    </div>
